#sideItem1, #centerItem1{
    background-image: url('../images/1.jpg');
}
#sideItem2, #centerItem2{
    background-image: url('../images/2.jpg');
}
#sideItem3, #centerItem3{
    background-image: url('../images/3.jpg');
}
#sideItem4, #centerItem4{
    background-image: url('../images/4.jpg');
}
#sideItem5, #centerItem5{
    background-image: url('../images/5.jpg');
}
#sideItem6, #centerItem6{
    background-image: url('../images/6.jpg');
}
#sideItem7, #centerItem7{
    background-image: url('../images/7.jpg');
}
#sideItem8, #centerItem8{
    background-image: url('../images/8.jpg');
}
#sideItem9, #centerItem9{
    background-image: url('../images/9.jpg');
}
#sideItem10, #centerItem10{
    background-image: url('../images/10.jpg');
}